<div class="container">
  <br>
  <h2 class="text-black mb-4">Change ton mot de passe :</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="info-form">
    <div>
        <%= f.email_field :email, placeholder: "Email avec lequel tu t'es inscrit", autofocus: true, autocomplete: "email", class:"form-control col-md-5" %>
    </div>
    <br>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div>
      <em><%= @minimum_password_length %> caractères minimum</em>
      <%= f.password_field :password, placeholder: "Ton nouveau mot de passe", autocomplete: "new-password", class:"form-control col-md-5" %>
      <% if @minimum_password_length %>
        <br />
      <% end %>
    </div>

    <div>
      <%= f.password_field :password_confirmation, placeholder: "Confirme ton nouveau mot de passe", autocomplete: "new-password", class:"form-control col-md-5" %>
    </div>
    <br>
    <div>
      <%= f.password_field :password, placeholder: "Ton mot de passe actuel", autocomplete: "current-password", class:"form-control col-sm-5" %>
    </div>
    <br>
    <div>
      <%= f.submit "Valide ton nouveau mot de passe", class: "btn btn-primary"%>
    </div>
  <% end %>
  <br>
  <div>
    <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Es-tu sûr de vouloir supprimer ton compte?" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
  <%= link_to "Retour à mes informations de profil", :back %>
</div>