
<% if params[:title] %>
  <div class="center mt-4" >
    <div class="card">
      <div class="row banniere">
        <div class="">
      
          <% @lessons.each do |lesson| %>
            <div class="element">
              <div class="card-body">
                <div class="text-card">
                  <h4 class="card-title"><%= lesson.title %></h4>
                  <h6 class="card-subtitle mb-2 text-muted"><%= lesson.topic.name %></h6>
                  <h6 class="card-subtitle mb-2 text-muted"> <%= "Leçon de : " %><%= lesson.user.first_name %> <%= lesson.user.last_name %></h6>
                  <p class="card-text"><%= lesson.content[0..200] %></p>
                </div>
                <div class="btn-card">
                  <div class="btn-group">
                  <% if current_user %>
                      <%= link_to "Consulter", lesson_path(lesson.id), class: "btn btn-primary btn-index"  %>
                  <% else %>
                      <%= link_to "Connecte-toi pour consulter", new_user_session_path, class: "btn btn-primary btn-index"  %>
                  <% end %>
                  </div>
                </div>
              </div>
              <div class="separator"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper swiper-heigth">
      <div class="swiper-slide">
        <%= image_tag('banner.jpg', class: 'banner') %>
      </div>
      <div class="swiper-slide">
        <%= image_tag('banner4.jpg', class: 'banner') %>
      </div>
      <div class="swiper-slide">
        <%= image_tag('banner2.jpg', class: 'banner') %>
      </div>
      <div class="swiper-slide">
        <%= image_tag('banner3.jpg', class: 'banner') %>
      </div>
    </div>
  </div>

  <h2 class="title mb-4">
    Learn it te permet :
  </h2>

  <div class="cards-icon">
    <div class="card-icon">
      <%= image_tag('world.svg', class: "width_50") %>
      <p>
        <br>
        De consulter des cours partout dans le monde
      </p>
    </div>
    <div class="grey-border"></div>
    <div class="card-icon">
      <%= image_tag('laptop.svg', class: "width_50") %>
      <p>
        <br>
        De partager tes meilleures ressources
      </p>
    </div>
    <div class="grey-border"></div>
    <div class="card-icon">
      <%= image_tag('thought.svg', class: "width_50") %>
      <p>
        <br>
        De participer au développement du savoir
      </p>
    </div>
  </div>
  <h3 class="title mb-4">
    Les 10 derniers cours partagés par les membres de Learn it :
  </h3>

  <div class="center mt-4" >
    <div class="card">
      <div class="row banniere">
        <div class="">

          <% @lessons.each do |lesson| %>
            <div class="element">
              <div class="card-body">
                <div class="text-card">
                  <h4 class="card-title"><%= lesson.title %></h4>
                  <h6 class="card-subtitle mb-2 text-muted"><%= lesson.topic.name %></h6>
                  <h6 class="card-subtitle mb-2 text-muted"> <%= "Leçon de : " %><%= lesson.user.first_name %> <%= lesson.user.last_name %></h6>
                  <p class="card-text"><%= lesson.content[0..200] %></p>
                </div>
                <div class="btn-card">
                  <div class="btn-group">
                  <% if current_user %>
                      <%= link_to "Consulter", lesson_path(lesson.id), class: "btn btn-primary btn-index"  %>
                  <% else %>
                      <%= link_to "Inscris-toi pour consulter", new_user_registration_path, class: "btn btn-primary btn-index" %>
                  <% end %>
                  </div>
                </div>
              </div>
              <div class="separator"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% unless current_user %>
    <div class="black-zone">
      <h2 class="title mt-4 white-title">
        N'attends plus :
      </h2>
        <div class="btn-card">
          <div class="btn-group">
              <%= link_to "Inscris-toi !", new_user_registration_path, class: "btn btn-primary big-btn" %>
          </div>
        </div>
    </div>
  <% end %>

<% end %>



