
<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag('banner.jpg') %>
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
 


  <div class="container mt-4" >
    <div class="card">
      <div class="row banniere">
        <div class="col-8">
          <div class="card-body">
          <% Lesson.all.each do |lesson| %>
            <h4 class="card-title"><%= lesson.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= lesson.topic.name %></h6>
            <h6 class="card-subtitle mb-2 text-muted"> <%= "Leçon de : " %><%= lesson.user.first_name %> <%= lesson.user.last_name %></h6>
            <p class="card-text"><%= lesson.content %></p>
            <div class="btn-group">
              <%= link_to "Consulter ce cours", lesson_path(lesson.id), class: "btn btn-primary" %> 
            </div>
            <br></br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>