<!DOCTYPE htmL>

<html>
  <div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h2 class="text-center text-black section-title">Ajoute un cours</h2>
          <%= form_for url_for(action:'create'), method: "post" do |f|%>
            <div class="form_tag-group row">
              <div class="col-md-12">
                <%= f.text_field :title, class: "form-control", placeholder: "Titre" %>
              </div>
            </div>
            <br>
            <div class="form_tag-group row">
              <div class="col-md-6">
              <%= label_tag "Matière" %><br>
              <%= f.select :top, options_from_collection_for_select(@topics, "id", "name", "1"), class: "form_tag-control", class: "form_tag-matière" %>
              </div>
            </div>
            <br>
            <div class="form_tag-group row">
              <div class="col-md-12">
                <%= f.text_area :content , class: "form-control", placeholder: "Contenue de ta fiche" %>
              </div>
            </div>
            <br>
            <div class="form_tag-group row">
              <div class="col-md-6">
                <%= submit_tag "Crée ta fiche", class: "btn btn-primary py-3 px-5 btn-block btn-pill" %>  
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</html>
    




