<!DOCTYPE htmL>

<html>
  <body>
  <div class="container mt-4" >
    <div class="card shadow-lg">
      <div class="row banniere">
        <div class="col-8">
          <div class="card-body">
            <h2 class="card-title"><%= @lesson.title %></h2>
            <h6 class="card-subtitle mb-2 text-muted"><%= @lesson.topic.name %></h6>
            <p class="card-text"><%= @lesson.content %></p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>



		<div class="col-8">
		</br>
		</br>
		</br>
		<h4> <%="Commentaires"%> </h4>
          <div class="card-body">
          <% @comments.all.each do |comment| %>
            <h4 class="card-title"><%= comment.title %></h4>
            <h6 class="card-subtitle mb-2 text-muted"> <%= "Commentaire de : " %><%= comment.user.first_name %> <%= comment.user.last_name %></h6>
            <p class="card-text"><%= comment.content %></p>
            <br></br>
            <% end %>
          </div>
		</div>

        </div>
      </div>
    </div>
  </div>
  </body>
</html>
